.post {
    background-color: maroon;
    height: 200px;
    width: 1200px;
}

.user {
    background-color: blueviolet;
}

.content {
    background-color: crimson;
}

.id {
    background-color: chartreuse;
}